.nav-bar-container{

    border: 1px solid red;

}

#nav-bar-links{

    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 48px;

    li{
        
        font-weight: 450;
        display: inline;
        padding: 12px;

    }

}