.jumbotron-container{

    height: 30vh;
    background-color: rgb(117, 152, 65);
    color: rgb(27, 27, 27);
}

h5{

    color: #f4f4f4;

}

.highlighted-title{

    color: rgb(235, 235, 235);
    text-shadow: 2px 2px 2px black;


}

.highlighted-text{

    color: rgb(223, 197, 51);
    text-shadow: 1px 1px 1px black;

}